<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shanyuan.platform.ms.dao.order.mapper.SyBizApplyRechargeMapper" >
  <resultMap id="BaseResultMap" type="com.shanyuan.platform.ms.dao.order.entity.SyBizApplyRecharge" >
    <id column="rec_id" property="recId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="biz_mid" property="bizMid" jdbcType="INTEGER" />
    <result column="circle_id" property="circleId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="add_time" property="addTime" jdbcType="INTEGER" />
    <result column="boc_points" property="bocPoints" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rec_id, member_id, biz_mid, circle_id, amount, add_time, boc_points
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shanyuan.platform.ms.dao.order.entity.SyBizApplyRechargeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sy_biz_apply_recharge
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sy_biz_apply_recharge
    where rec_id = #{recId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sy_biz_apply_recharge
    where rec_id = #{recId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shanyuan.platform.ms.dao.order.entity.SyBizApplyRechargeExample" >
    delete from sy_biz_apply_recharge
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shanyuan.platform.ms.dao.order.entity.SyBizApplyRecharge" >
    insert into sy_biz_apply_recharge (rec_id, member_id, biz_mid, 
      circle_id, amount, add_time, 
      boc_points)
    values (#{recId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{bizMid,jdbcType=INTEGER}, 
      #{circleId,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{addTime,jdbcType=INTEGER}, 
      #{bocPoints,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.shanyuan.platform.ms.dao.order.entity.SyBizApplyRecharge" >
    insert into sy_biz_apply_recharge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recId != null" >
        rec_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="bizMid != null" >
        biz_mid,
      </if>
      <if test="circleId != null" >
        circle_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="bocPoints != null" >
        boc_points,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recId != null" >
        #{recId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="bizMid != null" >
        #{bizMid,jdbcType=INTEGER},
      </if>
      <if test="circleId != null" >
        #{circleId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=INTEGER},
      </if>
      <if test="bocPoints != null" >
        #{bocPoints,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shanyuan.platform.ms.dao.order.entity.SyBizApplyRechargeExample" resultType="java.lang.Integer" >
    select count(*) from sy_biz_apply_recharge
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sy_biz_apply_recharge
    <set >
      <if test="record.recId != null" >
        rec_id = #{record.recId,jdbcType=INTEGER},
      </if>
      <if test="record.memberId != null" >
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.bizMid != null" >
        biz_mid = #{record.bizMid,jdbcType=INTEGER},
      </if>
      <if test="record.circleId != null" >
        circle_id = #{record.circleId,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=INTEGER},
      </if>
      <if test="record.bocPoints != null" >
        boc_points = #{record.bocPoints,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sy_biz_apply_recharge
    set rec_id = #{record.recId,jdbcType=INTEGER},
      member_id = #{record.memberId,jdbcType=INTEGER},
      biz_mid = #{record.bizMid,jdbcType=INTEGER},
      circle_id = #{record.circleId,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=DECIMAL},
      add_time = #{record.addTime,jdbcType=INTEGER},
      boc_points = #{record.bocPoints,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanyuan.platform.ms.dao.order.entity.SyBizApplyRecharge" >
    update sy_biz_apply_recharge
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="bizMid != null" >
        biz_mid = #{bizMid,jdbcType=INTEGER},
      </if>
      <if test="circleId != null" >
        circle_id = #{circleId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
      <if test="bocPoints != null" >
        boc_points = #{bocPoints,jdbcType=DECIMAL},
      </if>
    </set>
    where rec_id = #{recId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanyuan.platform.ms.dao.order.entity.SyBizApplyRecharge" >
    update sy_biz_apply_recharge
    set member_id = #{memberId,jdbcType=INTEGER},
      biz_mid = #{bizMid,jdbcType=INTEGER},
      circle_id = #{circleId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=INTEGER},
      boc_points = #{bocPoints,jdbcType=DECIMAL}
    where rec_id = #{recId,jdbcType=INTEGER}
  </update>
  
  <!-- 采集的总金额 -->
  <select id="selectBizApplyRechargeAmount" resultType="java.math.BigDecimal">
  		SELECT SUM(amount)    
			FROM sy_biz_apply_recharge
  </select>
</mapper>