<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shanyuan.platform.ms.dao.recommend.mapper.SyRecommendMapper" >
  <resultMap id="BaseResultMap" type="com.shanyuan.platform.ms.dao.recommend.entity.SyRecommend" >
    <id column="rec_id" property="recId" jdbcType="INTEGER" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="recommend_name" property="recommendName" jdbcType="VARCHAR" />
    <result column="recommend_desc" property="recommendDesc" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="touch_url" property="touchUrl" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="banner_id" property="bannerId" jdbcType="TINYINT" />
    <result column="start_time" property="startTime" jdbcType="INTEGER" />
    <result column="end_time" property="endTime" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="RecommendGoodsBoMap" type="com.shanyuan.platform.ms.dao.recommend.entity.RecommendGoodsBo" >
   	<id column="rec_id" property="recId" jdbcType="INTEGER" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="recommend_name" property="recommendName" jdbcType="VARCHAR" />
    <result column="recommend_desc" property="recommendDesc" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="touch_url" property="touchUrl" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="banner_id" property="bannerId" jdbcType="TINYINT" />
    <result column="start_time" property="startTime" jdbcType="INTEGER" />
    <result column="end_time" property="endTime" jdbcType="INTEGER" />
    <!-- 关联数据 -->
    <result column="goods_commonid" property="goodsCommonid" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_image" property="goodsImage" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rec_id, module_id, img_url, recommend_name, recommend_desc, type, item_id, status, 
    sort, create_time, touch_url, channel, update_time, banner_id, start_time, end_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shanyuan.platform.ms.dao.recommend.entity.SyRecommendExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sy_recommend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sy_recommend
    where rec_id = #{recId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sy_recommend
    where rec_id = #{recId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shanyuan.platform.ms.dao.recommend.entity.SyRecommendExample" >
    delete from sy_recommend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shanyuan.platform.ms.dao.recommend.entity.SyRecommend" >
    <selectKey resultType="java.lang.Integer" keyProperty="recId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sy_recommend (module_id, img_url, recommend_name, 
      recommend_desc, type, item_id, 
      status, sort, create_time, 
      touch_url, channel, update_time, 
      banner_id, start_time, end_time
      )
    values (#{moduleId,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{recommendName,jdbcType=VARCHAR}, 
      #{recommendDesc,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{itemId,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, 
      #{touchUrl,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{updateTime,jdbcType=INTEGER}, 
      #{bannerId,jdbcType=TINYINT}, #{startTime,jdbcType=INTEGER}, #{endTime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shanyuan.platform.ms.dao.recommend.entity.SyRecommend" >
    <selectKey resultType="java.lang.Integer" keyProperty="recId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sy_recommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="recommendName != null" >
        recommend_name,
      </if>
      <if test="recommendDesc != null" >
        recommend_desc,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="touchUrl != null" >
        touch_url,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="bannerId != null" >
        banner_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="recommendName != null" >
        #{recommendName,jdbcType=VARCHAR},
      </if>
      <if test="recommendDesc != null" >
        #{recommendDesc,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="touchUrl != null" >
        #{touchUrl,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="bannerId != null" >
        #{bannerId,jdbcType=TINYINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shanyuan.platform.ms.dao.recommend.entity.SyRecommendExample" resultType="java.lang.Integer" >
    select count(*) from sy_recommend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sy_recommend
    <set >
      <if test="record.recId != null" >
        rec_id = #{record.recId,jdbcType=INTEGER},
      </if>
      <if test="record.moduleId != null" >
        module_id = #{record.moduleId,jdbcType=INTEGER},
      </if>
      <if test="record.imgUrl != null" >
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.recommendName != null" >
        recommend_name = #{record.recommendName,jdbcType=VARCHAR},
      </if>
      <if test="record.recommendDesc != null" >
        recommend_desc = #{record.recommendDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.touchUrl != null" >
        touch_url = #{record.touchUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.channel != null" >
        channel = #{record.channel,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
      <if test="record.bannerId != null" >
        banner_id = #{record.bannerId,jdbcType=TINYINT},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=INTEGER},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sy_recommend
    set rec_id = #{record.recId,jdbcType=INTEGER},
      module_id = #{record.moduleId,jdbcType=INTEGER},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      recommend_name = #{record.recommendName,jdbcType=VARCHAR},
      recommend_desc = #{record.recommendDesc,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=CHAR},
      item_id = #{record.itemId,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      sort = #{record.sort,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=INTEGER},
      touch_url = #{record.touchUrl,jdbcType=VARCHAR},
      channel = #{record.channel,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=INTEGER},
      banner_id = #{record.bannerId,jdbcType=TINYINT},
      start_time = #{record.startTime,jdbcType=INTEGER},
      end_time = #{record.endTime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanyuan.platform.ms.dao.recommend.entity.SyRecommend" >
    update sy_recommend
    <set >
      <if test="moduleId != null" >
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="recommendName != null" >
        recommend_name = #{recommendName,jdbcType=VARCHAR},
      </if>
      <if test="recommendDesc != null" >
        recommend_desc = #{recommendDesc,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="touchUrl != null" >
        touch_url = #{touchUrl,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="bannerId != null" >
        banner_id = #{bannerId,jdbcType=TINYINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=INTEGER},
      </if>
    </set>
    where rec_id = #{recId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanyuan.platform.ms.dao.recommend.entity.SyRecommend" >
    update sy_recommend
    set module_id = #{moduleId,jdbcType=INTEGER},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      recommend_name = #{recommendName,jdbcType=VARCHAR},
      recommend_desc = #{recommendDesc,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      item_id = #{itemId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      touch_url = #{touchUrl,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=INTEGER},
      banner_id = #{bannerId,jdbcType=TINYINT},
      start_time = #{startTime,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=INTEGER}
    where rec_id = #{recId,jdbcType=INTEGER}
  </update>
  
  <!-- 根据集采模板查询集采推荐商品  by zhangwd -->
  <select id="selectRecommendGoodsByBizModule"  parameterType="java.util.Map" resultMap="RecommendGoodsBoMap"> 
  		SELECT r.*,gc.goods_commonid,gc.goods_name,gc.goods_image,gc.store_id,gc.goods_price
			FROM sy_recommend r, sy_goods_common gc
			WHERE r.item_id = gc.goods_commonid
			AND r.module_id = #{recId} 
			AND r.status = #{status}
  </select>
</mapper>