<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shanyuan.platform.ms.dao.statistics.mapper.PointDetailsCountMapper" >
  <resultMap id="BaseResultMap" type="com.shanyuan.platform.ms.dao.statistics.entity.PointDetailsCount" >
    <id column="rec_id" property="recId" jdbcType="INTEGER" />
    <result column="union_id" property="unionId" jdbcType="INTEGER" />
    <result column="union_channel" property="unionChannel" jdbcType="VARCHAR" />
    <result column="union_name" property="unionName" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="BIGINT" />
    <result column="total_num" property="totalNum" jdbcType="INTEGER" />
    <result column="valid_num" property="validNum" jdbcType="INTEGER" />
    <result column="c_time" property="cTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rec_id, union_id, union_channel, union_name, tag, total_num, valid_num, c_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PointDetailsCountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from statistics_point_details_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="groupByClause != null">
    	group by ${groupByClause}
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from statistics_point_details_count
    where rec_id = #{recId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from statistics_point_details_count
    where rec_id = #{recId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PointDetailsCountExample" >
    delete from statistics_point_details_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PointDetailsCount" >
    <selectKey resultType="java.lang.Integer" keyProperty="unionId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into statistics_point_details_count (rec_id, union_channel, union_name, 
      tag, total_num, valid_num, 
      c_time)
    values (#{recId,jdbcType=INTEGER}, #{unionChannel,jdbcType=VARCHAR}, #{unionName,jdbcType=VARCHAR}, 
      #{tag,jdbcType=BIGINT}, #{totalNum,jdbcType=INTEGER}, #{validNum,jdbcType=INTEGER}, 
      #{cTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PointDetailsCount" >
    <selectKey resultType="java.lang.Integer" keyProperty="unionId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into statistics_point_details_count
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recId != null" >
        rec_id,
      </if>
      <if test="unionChannel != null" >
        union_channel,
      </if>
      <if test="unionName != null" >
        union_name,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="totalNum != null" >
        total_num,
      </if>
      <if test="validNum != null" >
        valid_num,
      </if>
      <if test="cTime != null" >
        c_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recId != null" >
        #{recId,jdbcType=INTEGER},
      </if>
      <if test="unionChannel != null" >
        #{unionChannel,jdbcType=VARCHAR},
      </if>
      <if test="unionName != null" >
        #{unionName,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=BIGINT},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="validNum != null" >
        #{validNum,jdbcType=INTEGER},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PointDetailsCountExample" resultType="java.lang.Integer" >
    select count(*) from statistics_point_details_count
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update statistics_point_details_count
    <set >
      <if test="record.recId != null" >
        rec_id = #{record.recId,jdbcType=INTEGER},
      </if>
      <if test="record.unionId != null" >
        union_id = #{record.unionId,jdbcType=INTEGER},
      </if>
      <if test="record.unionChannel != null" >
        union_channel = #{record.unionChannel,jdbcType=VARCHAR},
      </if>
      <if test="record.unionName != null" >
        union_name = #{record.unionName,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=BIGINT},
      </if>
      <if test="record.totalNum != null" >
        total_num = #{record.totalNum,jdbcType=INTEGER},
      </if>
      <if test="record.validNum != null" >
        valid_num = #{record.validNum,jdbcType=INTEGER},
      </if>
      <if test="record.cTime != null" >
        c_time = #{record.cTime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update statistics_point_details_count
    set rec_id = #{record.recId,jdbcType=INTEGER},
      union_id = #{record.unionId,jdbcType=INTEGER},
      union_channel = #{record.unionChannel,jdbcType=VARCHAR},
      union_name = #{record.unionName,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=BIGINT},
      total_num = #{record.totalNum,jdbcType=INTEGER},
      valid_num = #{record.validNum,jdbcType=INTEGER},
      c_time = #{record.cTime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PointDetailsCount" >
    update statistics_point_details_count
    <set >
      <if test="unionId != null" >
        union_id = #{unionId,jdbcType=INTEGER},
      </if>
      <if test="unionChannel != null" >
        union_channel = #{unionChannel,jdbcType=VARCHAR},
      </if>
      <if test="unionName != null" >
        union_name = #{unionName,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=BIGINT},
      </if>
      <if test="totalNum != null" >
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="validNum != null" >
        valid_num = #{validNum,jdbcType=INTEGER},
      </if>
      <if test="cTime != null" >
        c_time = #{cTime,jdbcType=INTEGER},
      </if>
    </set>
    where rec_id = #{recId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PointDetailsCount" >
    update statistics_point_details_count
    set union_id = #{unionId,jdbcType=INTEGER},
      union_channel = #{unionChannel,jdbcType=VARCHAR},
      union_name = #{unionName,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=BIGINT},
      total_num = #{totalNum,jdbcType=INTEGER},
      valid_num = #{validNum,jdbcType=INTEGER},
      c_time = #{cTime,jdbcType=INTEGER}
    where rec_id = #{recId,jdbcType=INTEGER}
  </update>
  
  <insert id="batchInsert" parameterType="map">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into statistics_point_details_count (union_id, union_channel, union_name, 
      tag, total_num, valid_num, 
      c_time)
		values 
		<foreach collection="records" item="item" index="index" separator=",">
        	(#{item.unionId,jdbcType=INTEGER}, #{item.unionChannel,jdbcType=VARCHAR}, #{item.unionName,jdbcType=VARCHAR}, 
      #{item.tag,jdbcType=BIGINT}, #{item.totalNum,jdbcType=INTEGER}, #{item.validNum,jdbcType=INTEGER}, 
      #{item.cTime,jdbcType=INTEGER})
		</foreach>
	</insert>
</mapper>