<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanyuan.platform.ms.dao.statistics.mapper.PovertyAlleviationOverviewMapper">
  <resultMap id="BaseResultMap" type="com.shanyuan.platform.ms.dao.statistics.entity.PovertyAlleviationOverview">
    <id column="rec_id" jdbcType="INTEGER" property="recId" />
    <result column="c_time" jdbcType="INTEGER" property="cTime" />
    <result column="union_id" jdbcType="INTEGER" property="unionId" />
    <result column="union_name" jdbcType="VARCHAR" property="unionName" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="province_id" jdbcType="BIGINT" property="provinceId" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="country_id" jdbcType="BIGINT" property="countryId" />
    <result column="country_name" jdbcType="VARCHAR" property="countryName" />
    <result column="township_id" jdbcType="BIGINT" property="townshipId" />
    <result column="township_name" jdbcType="VARCHAR" property="townshipName" />
    <result column="village_id" jdbcType="BIGINT" property="villageId" />
    <result column="village_name" jdbcType="VARCHAR" property="villageName" />
    <result column="donate_amount" jdbcType="DECIMAL" property="donateAmount" />
    <result column="help_amount" jdbcType="DECIMAL" property="helpAmount" />
    <result column="fund_amount" jdbcType="DECIMAL" property="fundAmount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rec_id, c_time, union_id, union_name, channel, province_id, province_name, city_id, 
    city_name, country_id, country_name, township_id, township_name, village_id, village_name, 
    donate_amount, help_amount, fund_amount
  </sql>
  <select id="selectByExample" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PovertyAlleviationOverviewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from statistics_poverty_alleviation_overview
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from statistics_poverty_alleviation_overview
    where rec_id = #{recId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from statistics_poverty_alleviation_overview
    where rec_id = #{recId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PovertyAlleviationOverviewExample">
    delete from statistics_poverty_alleviation_overview
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PovertyAlleviationOverview">
    <selectKey keyProperty="recId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into statistics_poverty_alleviation_overview (c_time, union_id, union_name, 
      channel, province_id, province_name, 
      city_id, city_name, country_id, 
      country_name, township_id, township_name, 
      village_id, village_name, donate_amount, 
      help_amount, fund_amount)
    values (#{cTime,jdbcType=INTEGER}, #{unionId,jdbcType=INTEGER}, #{unionName,jdbcType=VARCHAR}, 
      #{channel,jdbcType=VARCHAR}, #{provinceId,jdbcType=BIGINT}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=BIGINT}, #{cityName,jdbcType=VARCHAR}, #{countryId,jdbcType=BIGINT}, 
      #{countryName,jdbcType=VARCHAR}, #{townshipId,jdbcType=BIGINT}, #{townshipName,jdbcType=VARCHAR}, 
      #{villageId,jdbcType=BIGINT}, #{villageName,jdbcType=VARCHAR}, #{donateAmount,jdbcType=DECIMAL}, 
      #{helpAmount,jdbcType=DECIMAL}, #{fundAmount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PovertyAlleviationOverview">
    <selectKey keyProperty="recId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into statistics_poverty_alleviation_overview
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cTime != null">
        c_time,
      </if>
      <if test="unionId != null">
        union_id,
      </if>
      <if test="unionName != null">
        union_name,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="provinceName != null">
        province_name,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="countryId != null">
        country_id,
      </if>
      <if test="countryName != null">
        country_name,
      </if>
      <if test="townshipId != null">
        township_id,
      </if>
      <if test="townshipName != null">
        township_name,
      </if>
      <if test="villageId != null">
        village_id,
      </if>
      <if test="villageName != null">
        village_name,
      </if>
      <if test="donateAmount != null">
        donate_amount,
      </if>
      <if test="helpAmount != null">
        help_amount,
      </if>
      <if test="fundAmount != null">
        fund_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cTime != null">
        #{cTime,jdbcType=INTEGER},
      </if>
      <if test="unionId != null">
        #{unionId,jdbcType=INTEGER},
      </if>
      <if test="unionName != null">
        #{unionName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="provinceName != null">
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null">
        #{countryId,jdbcType=BIGINT},
      </if>
      <if test="countryName != null">
        #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="townshipId != null">
        #{townshipId,jdbcType=BIGINT},
      </if>
      <if test="townshipName != null">
        #{townshipName,jdbcType=VARCHAR},
      </if>
      <if test="villageId != null">
        #{villageId,jdbcType=BIGINT},
      </if>
      <if test="villageName != null">
        #{villageName,jdbcType=VARCHAR},
      </if>
      <if test="donateAmount != null">
        #{donateAmount,jdbcType=DECIMAL},
      </if>
      <if test="helpAmount != null">
        #{helpAmount,jdbcType=DECIMAL},
      </if>
      <if test="fundAmount != null">
        #{fundAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PovertyAlleviationOverviewExample" resultType="java.lang.Integer">
    select count(*) from statistics_poverty_alleviation_overview
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update statistics_poverty_alleviation_overview
    <set>
      <if test="record.recId != null">
        rec_id = #{record.recId,jdbcType=INTEGER},
      </if>
      <if test="record.cTime != null">
        c_time = #{record.cTime,jdbcType=INTEGER},
      </if>
      <if test="record.unionId != null">
        union_id = #{record.unionId,jdbcType=INTEGER},
      </if>
      <if test="record.unionName != null">
        union_name = #{record.unionName,jdbcType=VARCHAR},
      </if>
      <if test="record.channel != null">
        channel = #{record.channel,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceId != null">
        province_id = #{record.provinceId,jdbcType=BIGINT},
      </if>
      <if test="record.provinceName != null">
        province_name = #{record.provinceName,jdbcType=VARCHAR},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=BIGINT},
      </if>
      <if test="record.cityName != null">
        city_name = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.countryId != null">
        country_id = #{record.countryId,jdbcType=BIGINT},
      </if>
      <if test="record.countryName != null">
        country_name = #{record.countryName,jdbcType=VARCHAR},
      </if>
      <if test="record.townshipId != null">
        township_id = #{record.townshipId,jdbcType=BIGINT},
      </if>
      <if test="record.townshipName != null">
        township_name = #{record.townshipName,jdbcType=VARCHAR},
      </if>
      <if test="record.villageId != null">
        village_id = #{record.villageId,jdbcType=BIGINT},
      </if>
      <if test="record.villageName != null">
        village_name = #{record.villageName,jdbcType=VARCHAR},
      </if>
      <if test="record.donateAmount != null">
        donate_amount = #{record.donateAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.helpAmount != null">
        help_amount = #{record.helpAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.fundAmount != null">
        fund_amount = #{record.fundAmount,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update statistics_poverty_alleviation_overview
    set rec_id = #{record.recId,jdbcType=INTEGER},
      c_time = #{record.cTime,jdbcType=INTEGER},
      union_id = #{record.unionId,jdbcType=INTEGER},
      union_name = #{record.unionName,jdbcType=VARCHAR},
      channel = #{record.channel,jdbcType=VARCHAR},
      province_id = #{record.provinceId,jdbcType=BIGINT},
      province_name = #{record.provinceName,jdbcType=VARCHAR},
      city_id = #{record.cityId,jdbcType=BIGINT},
      city_name = #{record.cityName,jdbcType=VARCHAR},
      country_id = #{record.countryId,jdbcType=BIGINT},
      country_name = #{record.countryName,jdbcType=VARCHAR},
      township_id = #{record.townshipId,jdbcType=BIGINT},
      township_name = #{record.townshipName,jdbcType=VARCHAR},
      village_id = #{record.villageId,jdbcType=BIGINT},
      village_name = #{record.villageName,jdbcType=VARCHAR},
      donate_amount = #{record.donateAmount,jdbcType=DECIMAL},
      help_amount = #{record.helpAmount,jdbcType=DECIMAL},
      fund_amount = #{record.fundAmount,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PovertyAlleviationOverview">
    update statistics_poverty_alleviation_overview
    <set>
      <if test="cTime != null">
        c_time = #{cTime,jdbcType=INTEGER},
      </if>
      <if test="unionId != null">
        union_id = #{unionId,jdbcType=INTEGER},
      </if>
      <if test="unionName != null">
        union_name = #{unionName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="provinceName != null">
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null">
        country_id = #{countryId,jdbcType=BIGINT},
      </if>
      <if test="countryName != null">
        country_name = #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="townshipId != null">
        township_id = #{townshipId,jdbcType=BIGINT},
      </if>
      <if test="townshipName != null">
        township_name = #{townshipName,jdbcType=VARCHAR},
      </if>
      <if test="villageId != null">
        village_id = #{villageId,jdbcType=BIGINT},
      </if>
      <if test="villageName != null">
        village_name = #{villageName,jdbcType=VARCHAR},
      </if>
      <if test="donateAmount != null">
        donate_amount = #{donateAmount,jdbcType=DECIMAL},
      </if>
      <if test="helpAmount != null">
        help_amount = #{helpAmount,jdbcType=DECIMAL},
      </if>
      <if test="fundAmount != null">
        fund_amount = #{fundAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where rec_id = #{recId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PovertyAlleviationOverview">
    update statistics_poverty_alleviation_overview
    set c_time = #{cTime,jdbcType=INTEGER},
      union_id = #{unionId,jdbcType=INTEGER},
      union_name = #{unionName,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=BIGINT},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=BIGINT},
      city_name = #{cityName,jdbcType=VARCHAR},
      country_id = #{countryId,jdbcType=BIGINT},
      country_name = #{countryName,jdbcType=VARCHAR},
      township_id = #{townshipId,jdbcType=BIGINT},
      township_name = #{townshipName,jdbcType=VARCHAR},
      village_id = #{villageId,jdbcType=BIGINT},
      village_name = #{villageName,jdbcType=VARCHAR},
      donate_amount = #{donateAmount,jdbcType=DECIMAL},
      help_amount = #{helpAmount,jdbcType=DECIMAL},
      fund_amount = #{fundAmount,jdbcType=DECIMAL}
    where rec_id = #{recId,jdbcType=INTEGER}
  </update>
  <insert id="batchPovertyOverviewInsert" parameterType="map">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into statistics_poverty_alleviation_overview
		(c_time,union_id,union_name,channel,    
			province_id,province_name,city_id,
			city_name,country_id,country_name,
			township_id,township_name,village_id,
			village_name,donate_amount,help_amount,fund_amount)
		values 
		<foreach collection="records" item="item" index="index" separator=",">
        	(
        	#{item.cTime,jdbcType=INTEGER},
			#{item.unionId,jdbcType=INTEGER},
			#{item.unionName,jdbcType=VARCHAR}, 
			#{item.channel,jdbcType=VARCHAR},
			#{item.provinceId,jdbcType=BIGINT},
			#{item.provinceName,jdbcType=VARCHAR}, 
			#{item.cityId,jdbcType=BIGINT}, 
			#{item.cityName,jdbcType=VARCHAR},
			#{item.countryId,jdbcType=BIGINT}, 
			#{item.countryName,jdbcType=VARCHAR},
			#{item.townshipId,jdbcType=BIGINT},
			#{item.townshipName,jdbcType=VARCHAR}, 
			#{item.villageId,jdbcType=BIGINT},
			#{item.villageName,jdbcType=VARCHAR},
			#{item.donateAmount,jdbcType=DECIMAL},
			#{item.helpAmount,jdbcType=DECIMAL},
			#{item.fundAmount,jdbcType=DECIMAL})
		</foreach>
	</insert>
	<select id="selectDateByCondition" parameterType="com.shanyuan.platform.ms.dao.statistics.entity.PovertyAlleviationOverview" resultMap="BaseResultMap">
		
		select c_time,union_name,country_name, donate_amount AS donate_amount, help_amount AS help_amount,fund_amount AS fund_amount
		from statistics_poverty_alleviation_overview where c_time = #{cTime,jdbcType=INTEGER}
		<if test="unionId != null and countryId == null">
				and union_id =  #{unionId,jdbcType=INTEGER}
		</if>
		<if test=" unionId != null and countryId != null">
				and country_id = #{countryId,jdbcType=BIGINT}
				and union_id = #{unionId, jdbcType=BIGINT}
		</if>
<!-- 		<if test=" unionId == null and countryId == null"> -->
<!-- 				GROUP BY union_id,country_id -->
<!-- 		</if> -->
		<if test = "unionId == null and countryId != null">
			AND country_id = #{countryId,jdbcType=BIGINT}
		</if>
	</select>
</mapper>